.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.form-container>form {
    display: flex;
    flex-direction: column;
    width: 33vw;
    height: 34.1vh;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-radius: 10px 0 0 10px;
}

form>input {
    width: 50%;
    height: 3.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}

form>button {
    border: none;
    border-radius: 1rem;
    width: 33%;
    justify-content: center;
    background-color: rgb(6, 160, 250);
    color: white;
}

